<div class='container'>
    <h1 class="h1-def text-center">Sign in</h1>
    <div class="login-form">
        <p>Sign in with your email address</p>
        <form [formGroup]="form" (ngSubmit)="login(form.value)">
            <p *ngIf="error" class="errors">{{ error }}</p>
            <mat-form-field class='fullWidth field'>
                <input name='email' matInput type="email" placeholder="E-mail address" formControlName='email'>
            </mat-form-field>
            <control-messages [control]="form.controls.email"></control-messages>
            <mat-form-field class='fullWidth'>
                <input name='password' matInput type="password" placeholder="Password" formControlName='password'>
            </mat-form-field>
            <control-messages [control]="form.controls.password"></control-messages>
            <button mat-button class='btn fullWidth' [disabled]="!form.valid">Sign in</button>
        </form>
    </div>
    <div class='form-footer'>
        <p>
            Don't have an account?
            <a class='reg-link' routerLink="/register">Register here!</a>
        </p>
    </div>
</div>