.container {
    position: absolute;
    top: 65px;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #f5f5f5;
}

.login-form {
    margin: 20px auto 0px;
    padding: 20px;
    border: 1px solid #dadada;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    width: 50%;
    vertical-align: middle;
    text-align: center;
    color: rgb(82, 101, 123);
    background-color: white;
}

.reg-link {
    text-decoration: none;
    color: rgb(58, 136, 209);
}

.reg-link:hover {
    color: rgb(54, 126, 194);
}

.btn:disabled {
    color: white;
}