<div class="container">
    <div class="header-section">
        <h2>Upload documents</h2>
        <p>Select any documents you wish to upload for easy access on other devices below!</p>
    </div>
    <div class="queue-section">
        <table class="queue-table fullWidth">
            <thead>
                <tr>
                    <th width="50%">Name</th>
                    <th width="200px">Size</th>
                    <th>Progress</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let file of files; let i=index">
                    <td>{{file.name}}</td>
                    <td>{{file.size/1024/1024 | number:'.2'}} MB </td>
                    <td text="center">
                        <span id="notUpload" *ngIf="!message[i] && !progress[i] || (!(uploaded.indexOf(file) >= 0) && !(uploading.indexOf(file) >= 0))">Not Uploaded</span>
                        <span style="font-weight:bold;color:green;" *ngIf="progress[i] > 0 && progress[i] < 100 && uploading.indexOf(file) >= 0">
                            {{progress[i]}}%
                        </span>
                        <span style="font-weight:bold;color:green;" *ngIf="message[i] && uploaded.indexOf(file) >= 0">
                            {{message[i]}}
                        </span>
                    </td>
                    <td nowrap>
                        <span>
                            <button mat-button (click)="upload(file, i)" [color]="'file'">Upload</button>
                        </span>
                        <span>
                            <button mat-button (click)="remove(i)" [color]="'file'">Remove</button>
                        </span>
                    </td>
                </tr>
            </tbody>

        </table>
        <div>
            <button mat-button (click)="uploadAll()" [color]="'file'">Upload All</button>
            <button mat-button (click)="removeAll()" [color]="'file'">Remove All</button>
        </div>
        <div appUpload class="btn-drop-zone" aria-disabled="false" (onFileDrop)="add($event)">
            <i class="fas fa-cloud-upload-alt fa-5x"></i>
            <h2>Drag &amp; Drop File</h2>
            <span>Or if you prefer</span>
            <br>
            <a class="btn-medium" id="upload-link">Browse my files</a>
            <input #file id="upload" type="file" multiple (change)="add(file.files)" />
        </div>
    </div>
</div>