/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
html,
body {
    height: 100%;
    font-family: 'Lato', 'Raleway', sans-serif;
}

h1,
h2,
h3,
p,
span {
    font-weight: lighter;
}

.mat-cool {
    background-color: rgb(50, 62, 76);
    color: white;
}

.mat-nav-item {
    font-weight: 900;
    font-size: 16px;
}

.center {
    margin: auto;
}

.fullWidth {
    width: 100%;
}