<mat-card>
    <mat-card-title>
        <span>Register</span>
    </mat-card-title>
    <mat-card-content>
        <form [formGroup]="form" (ngSubmit)="register(form.value)">
            <mat-form-field class='fullWidth'>
                <input name='question' matInput type="email" placeholder="Email" formControlName='email'>
            </mat-form-field>
            <mat-form-field class='fullWidth'>
                <input name='password' matInput type="password" placeholder="Password" formControlName='password'>
            </mat-form-field>
            <mat-form-field class='fullWidth'>
                <input name='confirmPassword' matInput type="password" placeholder="Confirm Password" formControlName='confirmPassword'>
            </mat-form-field>
            <button mat-raised-button color="primary" [disabled]="!form.valid">Create Account</button>
        </form>
    </mat-card-content>
    <mat-card-actions>
    </mat-card-actions>
</mat-card>